.flexcontents {
  display: flex; }
  .flexcontents div {
    padding: 1rem;
    flex: 1; }
    .flexcontents div h3 {
      text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  background: #fdffeb; }

.header {
  background: #4f9dbb;
  color: white;
  padding: 2rem;
  font: 900 100%/1.4 "freight-sans-pro", sans-serif;
  text-align: center; }

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase; }

h2 {
  font-size: 2.5rem; }

h3 {
  font: 900 100%/1.4 "freight-sans-pro", sans-serif;
  font-size: 2; }

.full {
  background: rgba(79, 157, 187, 0.875);
  padding: 1rem 2rem;
  color: white; }

.flexcontents {
  background: rgba(79, 157, 187, 0.75);
  color: white; }
