.flexcontents {
  display: flex; }
  .flexcontents div {
    padding: 1rem;
    flex: 1; }
    .flexcontents div h3 {
      text-align: center; }

body {
  font-size: 100%; }

h1 {
  font: 900 3rem/1 "freight-sans-pro", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase; }

h2 {
  font: 600 2.5rem/1 "freight-sans-pro", sans-serif; }

h3 {
  font: 600 2rem/1 "freight-sans-pro", sans-serif; }

p {
  font: 400 1.125rem/1.5 "skolar", Georgia, serif;
  max-width: 30rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  background: #fdffeb; }

.header {
  background: #4f9dbb;
  color: white;
  padding: 2rem;
  text-align: center; }

.full {
  background: rgba(79, 157, 187, 0.875);
  padding: 1rem 2rem;
  color: white; }

.flexcontents {
  background: rgba(79, 157, 187, 0.75);
  color: white; }
