
body {
    font-size: 100%;
}

h1, h2, h3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
    font: 900 3.5rem/1 $freight;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h2 {
    font: 700 3rem/1.4 $freight;
    color: $darkblue;
}

h3 {
    font: 600 2rem/1.4 $freight;
}
a {
    color: white;
    border-bottom: 1px solid rgba(white, .5);
    text-decoration: none;
    &:hover {
        color: $darkblue;
    }
}
p {
    font: 400 1.125rem/1.5 $skolar;
    max-width: 30rem;
    margin: .25rem 0 .75rem;
}
