.btn {
  text-align: center;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid $blue;
  border-radius: .5rem;
  color: $offwhite;
  appearance: none;
  background: $rich-blue;
  transition: background 500ms ease, color 500ms ease;
  display: inline-block;
  max-width: 15rem;
  width: 100%;
  &:hover, &:focus {
    background: darken($rich-blue, 12.5%);
  }
  &--red {
      color: $red;
      border-color: rgba($dark-red, .5);
      &:hover, &:focus {
          background: $dark-red;
      }
  }
  &--green {
      color: $green;
      border-color: rgba($dark-green, .5);
      &:hover, &:focus {
          background: $dark-green;
      }
  }
  &--yellow {
      color: $yellow;
      border-color: rgba($dark-yellow, .5);
      &:hover, &:focus {
          background: $dark-yellow;
      }
  }
}
