.btn {
  text-align: center;
  padding: .5rem;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid rgba($dark-blue, .5);
  border-radius: .625rem;
  color: $blue;
  font-size: 1rem;
  background: none;
  transition: background 500ms ease, color 500ms ease;
  display: inline-block;
  &:hover, &:focus {
    background: $dark-blue;
    color: $offwhite;
  }
  &--red {
      color: $red;
      border-color: rgba($dark-red, .5);
      &:hover, &:focus {
          background: $dark-red;
      }
  }
  &--green {
      color: $green;
      border-color: rgba($dark-green, .5);
      &:hover, &:focus {
          background: $dark-green;
      }
  }
  &--yellow {
      color: $yellow;
      border-color: rgba($dark-yellow, .5);
      &:hover, &:focus {
          background: $dark-yellow;
      }
  }
}
