input, textarea {
    font: 400 100%/1.4 $sans-serif;
}
input[type="text"], input[type="email"], textarea {
    border: 0;
    padding: .5rem;
    border: 1px solid $blue;
    border-radius: .25rem;
    background: none;
    transition: all 500ms linear;
    color: $text;
    &:focus {
        background: $blue;
        color: white;
        outline: none;
        box-shadow: 0 0 1.125rem 0 rgba($rich-blue, .5);
    }
}
