html {
  font: 400 100%/1.4 $sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
    font-family: $serif;
}
a {
    color: $blue;
    transition: all 500ms linear;
    &:hover, &:focus {
        color: $dark-blue;
    }

}
