.flexcontents {
/*     display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-content: flex-start;
align-items: flex-start; */

}
.module {
    padding: 2rem 1rem;
    flex: 1 0 14rem;
}

.module {
    img {
        max-width: 8rem;
        display: block;
        margin: 0 auto 1rem;
        border-radius: 100%;
        border: 0;
        transition: border 400ms linear;
        &:hover {
            border: 1rem solid rgba($offwhite, .5);
        }
    }
    h3 {
        font-size: 1.125rem;
        text-align: center;
    }
}

.flex {
  &--container {
    width: 100%;
    margin: 0 auto;
    max-width: 48rem;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
  }
  &--article {
    margin: .5rem auto;
  }
}
